body {
  height: 100vh;
  background: white;
}
.wrapper {
  padding-top: 100px;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
}
.container {
  background-color: #ffffff;
  background: #ecd1d1;
  width: 70%;
  min-width: 380px;
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.15);
}
h1 {
  font-size: 30px;
  text-align: center;
  color: #1c093c;
}
p {
  position: relative;
  margin: auto;
  width: 100%;
  text-align: center;
  color: #606060;
  font-size: 14px;
  font-weight: 400;
}
form {
  width: 100%;
  position: relative;
  margin: 30px auto 0 auto;
}
.row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px 30px;
  margin-bottom: 20px;
}
label {
  color: #1c093c;
  font-size: 14px;
}
textarea,
form input,
select {
  width: 100%;
  font-weight: 400;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1.2px solid #c4cae0;
  margin-top: 5px;
}
textarea {
  resize: none;
}
textarea:focus,
form input:focus {
  outline: none;
  border-color: #d8434f;
}
.submit {
  border: none;
  width: 120px;
  padding: 10px 20px;
  background: #e82f2c;
  color: #ffffff;
  border-radius: 3px;
}
.req {
  color: red;
}

#g-recaptcha-response {
  display: block !important;
  position: absolute;
  margin: -78px 0 0 0 !important;
  width: 302px !important;
  height: 76px !important;
  z-index: -999999;
  opacity: 0;
}
